<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>

<head th:replace="fragments :: page_head('Home - Shopme Admin', 'none')"/>
<body>
<div class="container-fluid ">
    <div th:replace="navigation :: menu"></div>
</div>
<div>
    <h1>shopme control panel</h1>
    welcom
    <a
       th:href="@{/account}"
       sec:authentication="principal.fullname"></a>
    &nbsp;
    <span sec:authentication="principal.authorities"></span>
    <div th:replace="fragments :: footer"></div>
</div>


</body>
</html>